.button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  height: 150px;
  width: 100%;
  border: 1px dashed #333333;
  border-radius: 16px;
  background: none;

  cursor: pointer;
  color: #ffffff;
}

.icon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 52px;
  margin-bottom: 20px;

  border-radius: 50%;
  background: #333333;
}
