.content {
  padding: 32px 24px;
}

.title {
  margin-bottom: 12px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.description {
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 20px;
}

.input {
  margin-top: 32px;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  margin-top: 32px;
}

.rulesLink {
  color: #3c6bf3;
}

.checkbox {
  cursor: pointer;
}

.checkboxErrors {
  color: #e7267a;
  margin-top: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
