.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding-top: 32px;
  padding-bottom: 60px;
}

.form {
  width: 100%;
  max-width: 440px;
  width: 100%;
  margin-right: 32px;
}

.info {
  max-width: 324px;
  width: 100%;
}

.image {
  display: block;
  width: 325px;
  height: 232px;
  border-radius: 16px;
}

.title {
  margin-bottom: 6px;

  font-size: 12px;
  line-height: 14px;
}

.name {
  margin-top: 12px;

  font-size: 14px;
  line-height: 20px;
}

.button {
  margin-top: 12px;
}
