.input_block {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #e1e1e1;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.textarea {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 1px solid #4a4a4a;
  border-radius: 8px;
  padding: 15px 20px;
  color: #ffffff;
  resize: none;

  &:hover {
    border: 1px solid #8f8f8f;
  }
  &:active {
    border: 1px solid #3c6bf3;
  }
  &:focus-visible {
    border: 1px solid #3c6bf3;
    outline: none;
  }
  &:disabled {
    border: 1px solid #333333;
  }
}

.toggle_password {
  position: absolute;
  bottom: 15px;
  right: 22px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.error {
  border: 1px solid #e7267a;
  color: #e7267a;
  &:hover {
    border: 1px solid #e7267a;
  }
}

.error_message {
  max-width: 100%;
  position: absolute;
  top: 100%;
  color: #e7267a;
  margin-top: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
