.back {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #e1e1e1;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
